<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    新闻引擎 <%=msg%>
    <br />
    时间=<%=helper.formatDate()%>
    <br />
    csrf : <%=csrf%>
    <ul>
        <%for(var i=0;i<list.length;i++) {%>
        <li><%=list[i]%></li>
        <%}%>
    </ul>

    <form action="/newssave" method="post">
        <!--需要在action后边加上——csrf或者隐藏于——csrf才能提交数据，否则提交不了-->
        <input type="text" name="_csrf" value="<%=csrf%>" >
        用户名:<input type="text" name="name"> <br />
        密码:<input type="text" name="pass"> <br />
        <input type="submit" value="提交">
        </form>

        <img src="/public/images/panda.jpg" />
</body>

</html>